*,
*::after,
*::before {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgb(227, 226, 238) 0%,
    rgb(235, 237, 245) 0%,
    rgb(208, 198, 223) 50%
  );
}

section {
  position: relative;
  width: 50%;
  height: 90vh;
}

.section__header {
  position: relative;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  -webkit-text-stroke: 2px solid black;
  -webkit-text-fill-color: rgb(112, 201, 134);
  -webkit-text-stroke-width: 3px;
  padding-top: 40px;
}

.content__svg__button {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background__svg {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background__svg > img {
  position: relative;
  width: 900px;
  height: 850px;
  pointer-events: none;
  background-blend-mode: multiply;
}

.start__action {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  position: relative;
  left: -150px;
  padding: 20px 35px;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 200px;
  height: 70px;
  transition: all 0.2s;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.1s;
}
button:hover {
  background: royalblue;
  color: white;
  box-shadow: 3px 3px 3px 3px rgb(97, 128, 219);
}
button:active {
  box-shadow: 2px 2px 2px 2px rgb(97, 128, 219);
}

.footer {
  position: relative;
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
